#login_section {
    width: 30%;
    height: 500px;
    background-color: #758918;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}